{% extends "base.html" %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static "deps/css/styles_register.css" %}">
{% endblock css %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <!-- Форма регистрации -->
            <div class="form-box mx-auto">
                <h2 class="text-center">Register</h2>
                <form action="{% url "user:login" %}" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <input type="text" name="username"
                        class="form-control register" id="id_username" placeholder="username">
                    </div>
                    <div class="form-group">
                        <input type="email" name="email"
                        class="form-control register" id="id_email" placeholder="email">
                        {% if form.email.errors %}
                        <div class="alert alert-danger alert-dismissible fade show">{{form.email.errors}}</div>
                        {% endif %}
                    </div>
                    <div class="form-group">
                        <input type="password" name="password1"
                        class="form-control register" id="id_password1" placeholder="password">
                        {% if form.password1.errors %}
                        <div class="alert alert-danger alert-dismissible fade show">{{form.password1.errors}}</div>
                        {% endif %}
                    </div>
                    <div class="form-group">
                        <input type="password" name="password2"
                        class="form-control register" id="id_password2" placeholder="verify password">
                        {% if form.password2.errors %}
                        <div class="alert alert-danger alert-dismissible fade show">{{form.password2.errors}}</div>
                        {% endif %}
                    </div>
                    <button name="register" type="submit" class="btn btn-block" id="register-button" disabled><i class="fa-solid fa-user-plus"></i> Sign Up</button>
                </form>
            </div>
        </div>
        <div class="col-md-6">
            <!-- Форма входа -->
            <div class="form-box mx-auto">
                <h2 class="text-center">Login</h2>
                <form action="{% url "user:login" %}" method="post">
                    {% csrf_token %}

                    <div class="form-group">
                        <input type="text" class="form-control login" name="username" id="id_username_"  placeholder="username" required>

                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control login" name="password" id="id_password" placeholder="password" required>
                        {% if form.password.errors %}
                        <div class="alert alert-danger alert-dismissible fade show">{{form.password.errors}}</div>
                        {% endif %}
                    </div>
                    <button name="login" type="submit" class="btn btn-block" id="login-button" disabled ><i class="fa-solid fa-right-to-bracket"></i> Sign In</button> 
               
                </form> 
            </div>
        </div>
    </div>
</div>
{% endblock content %}
{% block script %} 
<script src="{% static "deps/js/register_scripts.js" %}"></script>
{% endblock script %}

